#include <iostream> 
#include <math>
using namespace std;

float estimado_e (float n) {
float x=0.0, e=0.0;
float factorial= 1;

for(float i=1; i<=n ; i++)
{
      factorial = factorial * i;
      x = x + 1/factorial;
}
    e = x + 1;
return e;
}

int main ()
{
  float numero;
      cout << "Ingresa un numero" << endl;
      cin>>numero;
  
  cout <<"El aproximado de e es: " << estimado_e(numero) << endl;
  return 0;
}
